.main{
    margin-top: 20px;
}
.image {
  height: 150px;
  width: 300px;
  margin-top: 0;
  display: block;
  margin-bottom: -20px;
  

}



.search-bar{
    border-radius: 10px;
    border-width: 1.5px;
    /* margin-left: 10px; */
    width: 300px;
}