.main{
    margin-top: 20px;
}
.image {
  height: 150px;
  width: 300px;
  margin-top: 0;
  display: block;
  /* margin-bottom: -20px; */
  margin-left: auto;
  margin-right: auto;
  

}



.search-bar{
    border-radius: 10px;
    border-width: 1.5px;
    
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    margin-top: 20px;
}